@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,700;1,100;1,300;1,700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css");

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    
}

.lista {
    font-size: 2rem;
    text-align: center;
    
}
.lista li{
    padding: 3rem;
    background-color: rgb(7, 2, 77);
    width: 50rem;
    height: 10rem;
    border-radius: 5px;
}
h1 {
    font-weight: 900;
    text-align: center;
    background-color: rgb(7, 2, 77);
    border-radius: 5px;
}
h2{
    font-weight: 700;
    text-align: center;
}
p{
    text-align: center;
}